<!DOCTYPE HTML>
<html>
    <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=11" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <base href="/" />
    <title>Angular Boilerplate With Chart</title>
    <link rel="stylesheet" href="libraries.css" />
    <link rel="stylesheet" href="site.css" />
    <body>
        <div class="container text-center">
            <h1><span style="color: #e74c3c;" class="glyphicon glyphicon-remove"></span> Site unavaiable now, <br>Sorry for the<br> inconvenience</h1>   
        </div>
    </body>
</html>